services:
  web:
    build: .
    volumes:
      - .:/code
  web_migrate:
    extends:
      service: web
    command: python /code/bookmarks/manage.py migrate
  web_run:
    extends:
      service: web
    command: python /code/bookmarks/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - web_migrate
