asgiref==3.7.2
Django~=5.0.3
Pillow==10.3.0
sqlparse==0.4.4
django-braces==1.15.0
django-embed-video==1.4.9
pymemcache==4.0.0
django-debug-toolbar==4.3.0
redis==5.0.2
django-redisboard==8.4.0
djangorestframework==3.14.0
requests==2.31.0
djangorestframework-simplejwt==5.3.1
channels[daphne]==4.0.0
channels-redis==4.2.0
psycopg2==2.9.9
uwsgi==2.0.24
python-decouple==3.8
